@use "@scss/abstract/vars" as *;
@use "@scss/abstract/mixin" as *;


.header {
    position: fixed;
    width: 100%;
    background-color: $primary;
    z-index: 50;

    .container {
        @include flex-cc;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 1.0rem 2rem;

        @media (width < 768px) {
            padding: 0.5rem 2rem;
        }

        .logo-container {
            @include flex-sc;
            padding: 0;

            &:hover {
                cursor: pointer;
            }

            span:first-of-type {
                margin-right: 10px;
                font-size: 4.0rem;
                font-weight: 900;
                color: white;
            }

            span:last-of-type {
                font-size: 2.0rem;
                font-weight: 300;
                color: white;
            }

            @media (width < 768px) {
                span:first-of-type {
                    font-size: 2.0rem;
                }

                span:last-of-type {
                    font-size: 1.5rem;
                    padding-bottom: 3px;
                }
            }
        }

        nav {
            @include flex-cc;
            width: calc(100% - 185px);
            color: white;
            margin: auto;

            @media (width < 768px) {
                display: none;
            }

            .naviMenu {
                @include flex-vc;
                width: 65%;

                div {
                    &:hover {
                        color: aqua;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }

            .join-login {
                @include flex-ec;
                width: 35%;

                .join-btn {
                    margin-left: auto;
                    color: white;
                    font-weight: 700;
                }

                .login-btn {
                    background-color: #3b82f6;
                    color: white;
                    padding: 0.5rem 2rem;
                    border-radius: 0.25rem;
                    margin-left: 50px;

                    &:hover {
                        background-color: $accent;
                    }
                }
            }
        }



        .mobile-menu-button {
            display: block;
            margin-left: auto;

            @media (min-width: 768px) {
                display: none;
            }

            svg {
                width: 3.5rem;
                height: 3.5rem;
            }
        }
    }

}