@use "@scss/abstract/vars" as *;
@use "@scss/abstract/mixin" as *;


.header {
    position: fixed;
    width: 100%;
    background-color: $primary;
    z-index: 50;

    .container {
        @include flex-bc;
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 1.0rem 2rem;

        @media (width < 768px) {
            padding: 0.5rem 2rem;
        }

        .logo-container {
            @include flex-sc;
            padding: 0;

            &:hover {
                cursor: pointer;
            }

            span {
                margin-right: 10px;
                font-size: clamp(25px, 4vw, 40px);
                font-weight: 900;
                color: white;
            }

            .mobile-favorite {
                display: none;
                color: white;
                font-weight: 400;
                font-size: 13px;
                margin-left: 15px;

                .icon {
                    padding-top: 2px;
                    font-size: 18px;
                    margin-right: 5px;
                }

                @media (width < 480px) {
                    @include flex-sc;
                }
            }
        }

        .naviMenu {
            @include flex-ec;
            flex: 1;
            width: auto;
            color: white;
            margin-right: 40px;

            @media (width < 768px) {
                display: none;
            }

            div {
                margin: 0 3%;

                &:hover {
                    color: $accent;
                    font-weight: 800;
                    cursor: pointer;
                }
            }
        }

        .join-login {
            @include flex-ec;

            @media (width < 768px) {
                display: none;
            }

            .join-btn {
                margin-left: auto;
                color: white;
                font-weight: 700;

                &:hover {
                    color: $accent;
                    font-weight: 800;
                    cursor: pointer;
                }
            }

            .login-after {
                @include flex-ec;
                color: white;

                .icon {
                    font-size: 25px;
                    margin-right: 5px;
                }

                span {
                    color: $btnBlue;
                    font-weight: bold;
                    margin-right: 10px;
                    line-height: 150%;
                }

            }

            button {
                background-color: #3b82f6;
                color: white;
                padding: 0.5rem 2rem;
                border-radius: 0.25rem;
                margin-left: 20px;

                &:hover {
                    background-color: $accent;
                }
            }
        }



        .mobile-menu-button {
            display: block;
            margin-left: auto;

            @media (min-width: 768px) {
                display: none;
            }

            svg {
                width: 3.5rem;
                height: 3.5rem;
            }
        }

        .mobile-menu-drawer {
            position: absolute;
            top: 100%;
            right: 10px;


            .mobile-naviMenu {
                flex-direction: column;
                padding: 20px;
                background-color: white;
                border-radius: 1rem;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
                z-index: 150;
                overflow: hidden;

                div {
                    @include flex-sc;
                    padding: 20px;
                    border-radius: 5px;
                    font-size: 18px;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:hover {
                        background-color: $accent;
                        cursor: pointer;
                    }

                    .icon {
                        font-size: 25px;
                        margin-right: 10px;
                    }

                    .blue {
                        color: $primary;
                    }

                    .red {
                        color: $red;
                    }
                }
            }
        }
    }

    .log-info-header {
        display: none;
        width: 100%;
        background-color: white;
        // padding: 1%;

        @media (width < 768px) {
            display: block;
        }

        .log-info {
            @include shadowDark;
            @include flex-cc;
            width: 100%;
            max-width: 1200px;
            margin: auto;
            padding: 7px 15px;
            border: solid 1px $outLine;
            border-radius: 3px;
            background-color: $bg;
            font-size: 12px;
            color: $textSub;

            .icon {
                font-size: 18px;
                margin-right: 5px;
            }

            span {
                color: $primary;
                font-weight: bold;
                margin-right: 5px;
            }

            button {
                @include flex-cc;
                height: auto;
                font-size: 11px;
                margin-right: 3px;
                margin-left: auto;
                padding: 5px 10px;

                .icon {
                    color: white;
                    font-size: 14px;
                    margin: 0;
                }
            }
        }

    }




}