@use "@scss/abstract/vars" as *;
@use "@scss/abstract/mixin" as *;

.rent {
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-start;
    // @include flex-c-sc;
    // padding: 0 0 10rem;

    // @media (width < 768px) {
    //     flex-direction: column;
    //     justify-content: center;
    //     gap: 1.5rem;
    // }

    // .txtArea {
    //     width: 100%;
    //     max-width: 1200px;
    //     margin: auto;
    //     text-align: center;

    //     .title {
    //         font-size: 3.0rem;
    //         font-family: $font2;
    //         color: $accent;
    //         margin-bottom: 10px;

    //         span {
    //             font-family: $font2;
    //             font-weight: 800;
    //             color: $textMain
    //         }

    //         @media(width < 768px) {
    //             font-size: 5vw;
    //         }

    //         @media(width < 450px) {
    //             font-size: 6vw;
    //             margin-bottom: 2%;
    //         }
    //     }

    //     .content {
    //         margin-bottom: 15px;
    //         font-family: $font3;
    //         color: $textThird;
    //         font-weight: 500;
    //         font-size: 1.6rem;

    //         @media(width < 768px) {
    //             font-size: 3.2vw;
    //         }
    //     }
    // }
    padding: 2% 0 10%;

    .rent-container {
        @include flex-cc;
        width: 100%;
        margin: auto;

        @media (width < 768px) {
            margin-top: 10%;
        }

        img {
            margin-right: 3%;

            @media (width < 768px) {
                width: 40%;
            }
        }

        .txt-btn {
            @include flex-c-cc;

            .title {
                font-size: 3.0rem;
                font-family: $font2;
                color: $accent;
                margin-bottom: 10px;

                span {
                    font-family: $font2;
                    font-weight: 800;
                    color: $textMain
                }

                @media(width < 768px) {
                    font-size: 5vw;
                    margin-bottom: 1%;
                }

                @media(width < 450px) {
                    font-size: 6vw;

                }
            }

            .content {
                margin-bottom: 15px;
                font-family: $font3;
                color: $textThird;
                font-weight: 500;
                font-size: 1.6rem;

                @media(width < 768px) {
                    font-size: 3.2vw;
                }

                @media(width < 550px) {
                    margin-bottom: 11px;
                }

                @media(width < 400px) {
                    margin-bottom: 8px;
                }

            }

            .rent-btn {
                @include flex-cc;
                @include shadowBlue;
                padding: 10px 30px 5px;
                border-radius: 5px;
                color: white;
                font-family: $font3;
                font-size: 18px;
                background-color: $primary;

                @media (width < 500px) {
                    font-size: 15px;
                }

                @media (width < 400px) {
                    padding: 5px 20px 3px;
                    font-size: 13px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $accent;
                }

                .icon {
                    font-size: 30px;
                    margin-right: 10px;
                    margin-bottom: 5px;

                    @media (width < 500px) {
                        font-size: 25px;
                    }

                    @media (width < 400px) {
                        font-size: 20px;
                    }
                }
            }
        }


    }

    // .container {
    //     @include flex-c-cc;
    //     width: 49%;
    //     gap: 2rem;
    //     border-radius: 10px;
    //     background-color: #f0f3f7;
    //     padding: 2rem;

    //     @media (width < 768px) {
    //         width: 100%;
    //     }
    // }

    // h1 {
    //     font-size: clamp(2.0rem, 5vw, 2.50rem);
    //     color: $textThird;
    //     font-weight: 100;
    //     padding: 20px 0;

    //     @media (width < 768px) {
    //         padding: 1%;
    //     }
    // }

    // h2 {
    //     font-size: clamp(1.5rem, 5vw, 2.8rem);
    //     font-weight: 300;
    //     font-family: $font2;
    //     color: $textMain;
    //     margin-bottom: 1%;
    // }

    // p {
    //     color: $textSub;
    //     font-family: $font3;
    //     font-size: clamp(1.2rem, 3vw, 1.8rem);
    //     text-align: center;
    //     margin-bottom: 1rem;
    // }

    // button {
    //     @include flex-cc;
    //     font-size: clamp(1.2rem, 5vw, 2.0rem);
    //     background-color: #3b82f6;
    //     color: white;
    //     padding: 2.5rem 3.0rem;
    //     border-radius: 0.375rem;
    //     margin-bottom: 3.0rem;

    //     @media (width < 768px) {
    //         padding: 3.0rem 2.0rem;
    //         margin-bottom: 5%;
    //     }

    //     @media (width < 400px) {
    //         padding: 2.5rem 2.0rem;
    //     }

    //     &:hover {
    //         background-color: #2563eb;
    //     }
    // }

    // img {
    //     width: 100%;
    //     border-radius: 7px;
    //     margin: auto;
    //     object-fit: cover;
    // }
}