@use "@scss/abstract/vars" as *;
@use "@scss/abstract/mixin" as *;


.my-page {
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding: 0 2% 50px;

    .top {
        @include flex-ce;
        width: 100%;
        padding: 20px 0 0;
        margin-bottom: 15px;
        border-bottom: solid 1px #fef2e2;

        @media(width < 500px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
        }

        img {
            margin-right: 2%;

            @media(width < 768px) {
                width: 35%;
                min-width: 180px;
            }

            @media(width < 500px) {
                width: 250px;
            }
        }



        .top-txt {
            @include flex-c-es;

            @media(width < 500px) {
                align-items: center;
                margin: 20px 0 10px;
            }

            .title {
                font-size: 3.0rem;
                font-family: $font2;
                color: $accent;
                margin-bottom: 10px;

                span {
                    font-family: $font2;
                    font-weight: 800;
                    color: $textMain
                }

                @media(width < 768px) {
                    font-size: 3.5vw;
                    margin-bottom: 1%;
                }

                @media(width < 500px) {
                    font-size: clamp(24px, 5vw, 32px);

                }
            }

            .content {
                margin-bottom: 15px;
                font-family: $font3;
                color: $textThird;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 120%;

                @media(width < 768px) {
                    font-size: 2.5vw;
                }

                @media(width < 550px) {
                    font-size: clamp(14px, 4vw, 18px);
                    margin-bottom: 11px;
                }

                @media(width < 400px) {
                    margin-bottom: 8px;
                }

            }

            .content2 {
                font-size: 12px;
                color: $textSub;
            }
        }
    }

    .rectForm {
        @include shadowDark;
        max-width: 700px;
        margin: 0 auto 15px;
        padding: 10px;
        border-radius: 10px;
        border: solid 1px $outLine;

        @media (width < 768px) {
            width: 98%;
            margin-bottom: 3%;
        }
    }

    .head-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        width: 100%;
        max-width: 700px;
        margin: auto;

        .order-area {
            @include flex-ac;
            width: 70%;

            >figure {
                padding: 0 3%;

                figcaption {
                    font-weight: bold;
                    font-size: 14px;
                }
            }

            .row {
                width: 100%;
                margin: 0 5%;

                div {
                    @include flex-bc;
                    width: 100%;
                    padding: 5px 8px;

                    &:first-of-type {
                        border-bottom: dashed 1px $outLine;
                    }

                    span:last-of-type {
                        font-size: 16px;
                        font-weight: bold;
                        color: $primary;
                    }
                }
            }

            button {
                @include flex-c-cc;
                width: 100px;
                height: auto;
                aspect-ratio: 1/1;
                margin-left: 3%;
                padding: 1%;
                font-size: 12px;

                .icon {
                    font-size: 30px;
                    margin-bottom: 5px;
                }
            }
        }

        .point-area {
            @include flex-bc;
            width: 30%;

            >figure {
                padding: 0 3%;

                figcaption {
                    font-weight: bold;
                    font-size: 14px;
                }
            }

            .point-num {
                margin-right: 5%;
                text-align: center;
                font-size: 25px;
                font-weight: bold;
                color: $red;

                span {
                    font-size: 14px;
                    font-weight: normal;
                    color: black;
                }
            }
        }

        @media(width < 768px) {
            width: 98%;
            flex-direction: column;
            align-items: center;
            gap: 0;

            .order-area,
            .point-area {
                width: 100%;
            }
        }
    }

    .user-area {
        padding: 20px;


        .head-line {
            @include flex-bc;
            width: 100%;
            border-bottom: 1px solid #eaeef3;
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 15px;
            margin-bottom: 15px;

            .edit-area {
                @include flex-ec;
                width: 90px;
                font-size: 12px;
                color: $textThird;

                &:hover {
                    color: $primary;
                    cursor: pointer;

                    .icon {
                        color: $primary;
                    }
                }

                .icon {
                    font-size: 18px;
                    color: $textThird;
                    margin-right: 5px;
                }
            }

            @media (width < 768px) {
                font-size: 14px;

                .edit-area:first-of-type {
                    display: none;
                }
            }
        }

        .info {
            @include flex-sc;
            height: 45px;
            padding: 6px 10px;
            font-weight: 500;

            &:nth-of-type(2) {
                margin-bottom: 20px;
            }

            .icon {
                margin-right: 10px;
                font-size: 20px;
                color: $textSub;
            }

            span {
                display: flex;
                width: 70px;
                font-weight: 400;
                color: $textSub;
            }

            input {
                width: 100%;
            }
        }

        .btn-area {
            @include flex-cc;
            gap: 20px;
            width: 100%;
            padding: 15px 0 10px;

            button {
                width: 100px;
            }
        }
    }

    .link-area {
        @include flex-sc;
        padding: 20px;

        @media(width < 768px) {
            padding: 10px;
        }

        >img {
            margin: 0 2%;

            @media(width < 768px) {
                width: 12%;
                margin: 0 1%;
            }
        }

        .url-description {
            font-size: 12px;
            padding-left: 3%;
            color: $textThird;

            @media(width < 768px) {
                font-size: 10px;
            }

            p {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 5px;
                color: $textMain;

                @media(width < 768px) {
                    font-size: 10px;
                }
            }
        }

        .copy-area {
            @include flex-ec;
            width: 110px;
            margin-left: auto;
            font-size: 12px;
            font-weight: bold;
            color: $textThird;

            &:hover {
                color: $primary;
                cursor: pointer;

                .icon {
                    color: $primary;
                }
            }

            .icon {
                font-size: 19px;
                color: $textThird;
                margin-right: 5px;
            }
        }
    }
}