@use "../abstract/mixin" as *;
@use "../abstract/vars" as *;

.notice-page {
    @include flex-c-sc;
    width: 100%;
    background-color: $bg;

    .notice-page-container {
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: auto;

        .notice-page-title {
            @include flex-cc;
            width: 100%;
            margin-top: 80px;
            padding: 40px 0 60px;

            img {
                width: 160px;
                margin-right: 30px;
            }

            .main {
                color: $accent;
                font-size: 45px;
                font-family: $font2;

                span {
                    color: $textMain;
                    font-family: $font3;
                    font-size: 30px;
                }
            }

            .sub {
                color: $textThird;
            }
        }

        .list-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            min-height: 300px;

            .nodata {
                font-size: 20px;
                font-weight: bold;
                font-family: $font;
                color: $textThird;
            }
        }

        .write-btn-area {
            position: fixed;
            bottom: 30px;
            width: 100%;
            max-width: 1200px;
            height: 100px;

            div {
                margin-left: auto;
                margin-right: 30px;
                @include flex-c-cc;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: $primary;
                color: white;

                .icon {
                    font-size: 30px;
                    margin-bottom: 5px;
                }

                span {
                    font-weight: bold;
                }
            }
        }
    }
}
