@use "../abstract/vars" as *;
@use "../abstract/mixin" as *;

.service-apply {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding-bottom: 50px;

    .top {
        @include flex-ce;
        width: 100%;
        padding: 40px 0;

        img {
            margin-right: 20px;
        }

        .title-area {
            @include flex-c-ec;

            .title {
                font-size: 3.0rem;
                font-family: $font2;
                color: $accent;
                margin-bottom: 10px;

                span {
                    font-family: $font2;
                    font-weight: 800;
                    color: $textMain
                }
            }

            .content {
                font-family: $font3;
                color: $textThird;
                font-weight: 500;
                font-size: 1.8rem;
            }
        }

        @media (width < 768px) {
            padding: 10px 0 5%;

            img {
                width: 50%;
            }

            .title-area {
                .title {
                    font-size: 2.0rem;
                }

                .content {
                    font-size: 1.2rem
                }
            }
        }

        @media (width < 530px) {
            @include flex-c-bc;
            padding: 0 0 5%;

            img {
                width: 80%;
                margin: 0;
                padding-bottom: 20px;
            }

            .title-area {
                .title {
                    font-size: clamp(5vw, 6vw, 30px);
                }

                .content {
                    font-size: 4vw
                }
            }
        }

    }

    .service-check-area {
        @include flex-vc;
        width: 80%;
        margin: auto;
        padding: 20px;

        li {
            @include flex-c-sc;

            figure {
                text-align: center;

                figcaption {
                    color: $textSub;
                    font-family: $font3;
                    font-size: 14px;
                    padding: 5px 0 15px;
                }

                img {
                    width: 45px;
                }
            }

            input {
                zoom: 2.0;
                accent-color: $primary;
            }
        }

        @media (width < 768px) {
            width: 95%;
        }

        @media (width < 530px) {
            padding: 5% 10px;

            li {
                width: 25%;

                figure {
                    figcaption {
                        font-size: clamp(11px, 3vw, 14px);
                    }
                }

                input {
                    zoom: 1.8;
                }
            }
        }

        @media (width < 400px) {
            li {
                figure {
                    img {
                        width: 50%;
                    }
                }
            }
        }
    }

    .default {
        @include flex-c-ss;
        @include shadowDark;
        width: 90%;
        max-width: 800px;
        margin: auto;
        padding: 20px 3% 30px;
        border: solid 1px $outLine;
        border-radius: 10px;
        background-color: white;
        margin-bottom: 20px;

        @media (width < 500px) {
            padding: 15px 3% 10px;
        }

        .title {
            @include flex-cc;
            width: 100%;
            padding: 0 0 20px;
            font-size: 20px;
            font-family: $font3;
            text-align: center;
            border-bottom: solid 1px $btnSub;

            .icon {
                font-size: 30px;
                margin-right: 8px;
                color: $textSub;
            }

            .blue {
                color: $primary;
                opacity: 0.8;
            }

            span {
                padding-top: 7px;
            }

            @media (width < 500px) {
                padding: 0 0 10px;
            }
        }

        .check-area {
            @include flex-cc;
            gap: 50px;
            width: 100%;
            height: 60px;

            >div {
                @include flex-cc;
                gap: 8px;

                &:hover {
                    cursor: pointer;
                    color: $primary;
                    font-weight: bold;
                }

                input[type='radio'] {
                    transform: scale(1.5);
                }

                input[type="radio"]:checked+label {
                    color: $primary;
                    font-weight: bold;
                }
            }
        }

        .content {
            @include flex-c-ss;
            width: 100%;

            .user-row {
                @include flex-sc;
                width: 100%;
                height: 45px;
                padding: 0 10px;

                &:first-of-type {
                    margin-top: 15px;
                }


                .icon {
                    padding-top: 2px;
                    font-size: 25px;
                    color: $textThird;
                    margin-right: 5px;
                }

                span {
                    display: block;
                    width: 60px;
                    margin-right: 10px;
                    color: $textSub;
                    font-family: $font3;
                }

                input {
                    flex: 1;
                    margin: 0;
                }
            }

            .select {
                @include flex-sc;
                margin-bottom: 10px;

                label {
                    min-width: 100px;
                    margin-right: 50px;
                    @include flex-cc;

                    input {
                        width: 40px;
                        zoom: 1.5;
                    }
                }
            }

            >.group {
                @include flex-ss;
                width: 100%;

                &:last-child {
                    margin-bottom: 20px
                }

                span {
                    display: block;
                    padding-top: 10px;
                    margin: 0 10px;
                }

                input {
                    width: 100%;
                    margin: 0;

                    &.centerContent {
                        text-align: center;
                        padding: 0;
                    }

                    &:read-only {
                        border: solid 1px $outLine;
                    }
                }

                button.addr {
                    min-width: 70px;
                    font-size: 12px;
                    margin: 0 0 0 10px;
                    box-shadow: none;
                }
            }

            >p {
                width: 100%;
                padding: 10px 5px 5px;

                .icon {
                    color: $primary;
                    font-size: 10px;
                    margin-right: 5px;
                }
            }

            input {
                width: 100%;
                margin-bottom: 20px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            .twice {
                @include flex-cc;
                gap: 2%;
                width: 100%;

                select {
                    width: 50%;
                    background-color: $inputBg;
                }
            }
        }
    }

    .btnArea {
        text-align: center;

        button {
            width: 150px;
            margin: 20px 10px;

            @media (width < 500px) {
                width: 100px;
            }
        }
    }
}