@font-face {
	font-family: nago;
	src: local(※), url("../fonts/NanumGothicBold.woff") format("woff");
	font-weight: 600;
}

body {
	width: 2560px;
	height: 1550px;
	margin: 0px auto;
	padding: 0;
	border: 0;
	background-color: #efefef;
	font-weight: 600;
	font-size: 45px;
	font-family: nago, "NanumGothic", "나눔고딕", "Gulim", "굴림";
	color: #00498d;
	text-align: center;
}

img div {
	margin: 0;
	padding: 0;
	border: 0;
}

header {
	display: block;
	width: 2400px;
	height: 120px;
	margin: 0px auto;
	padding-top: 60px;
}

header .hicon {
	float: left;
}
header span {
	float: left;
	font-size: 80px;
	margin: 16px 0 0 30px;
}
header .hprev {
	float: right;
	margin-right: 80px;
	opacity: 1;
	visibility: visible;
}

header .hclose {
	float: right;
	margin-top: 25px;
}

section {
	display: block;
	width: 2400px;
	height: 1230px;
	margin: 0px auto;
}

footer {
	display: none;
	width: 2400px;
	height: 110px;
	margin: 0px auto;
	padding-top: 30px;
}

a:link {
	color: #00498d;
	text-decoration: none;
}
a:visited {
	color: #00498d;
	text-decoration: none;
}
a:active {
	color: #c70060;
	text-decoration: none;
}
a:hover {
	color: #c70060;
	text-decoration: none;
}
