.indexBtnArea
{
	display:inline-block;
	width:464px;
	height:565px;
	padding-top:330px;
	opacity:0;
	
	-webkit-transform:scale(0.5);
	-ms-transform:scale(0.5);
	transform:scale(0.5);
	
	-webkit-transform-origin:50% 70%;
	-ms-transform-origin:50% 70%;
	transform-origin:50% 70%;
}
.indexBtnArea img {margin:42px;}

@-webkit-keyframes appearMenu
{
	to {-webkit-transform:scale(1.0);opacity:1.0;}
}

@-moz-keyframes appearMenu
{
	to {transform:scale(1.0);opacity:1.0;}
}

@-ms-keyframes appearMenu
{
	to {-ms-transform:scale(1.0);opacity:1.0;}
}

@-o-keyframes appearMenu
{
	to {transform:scale(1.0);opacity:1.0;}
}

@keyframes appearMenu
{
	to {transform:scale(1.0);opacity:1.0;}
}