#firstView {
	width: 2400px;
	height: 1230px;
	opacity: 1;
}
#secondView {
	position: absolute;
	top: 180px;
	width: 2400px;
	height: 1230px;
	visibility: hidden;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0;
	opacity: 0;
}

#strDistance {
	font-size: 60px;
	line-height: 95px;
}
#strParts {
	font-size: 45px;
	line-height: 100px;
}

.distanceArea {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 200px;
	padding-top: 40px;
	margin: 0 auto;
}

.distance {
	display: inline-block;
	/* width: 159px; */
	width: 6.8%;
	height: 159px;
	background-color: white;
	border: 3px solid #004a8d;
	border-radius: 15px;
	color: #004a8d;
	letter-spacing: -3px;
}

.distance span {
	position: relative;
	top: 25px;
	font: bold 40px nago, "Century Gothic";
}

.menuArea {
	width: 2400px;
	height: 990px;
	margin: 0 auto;
}
.partsIcon {
	float: left;
	width: 325px;
	height: 311px;
	margin: 0 6px 20px;
	background-color: #efefef;
	border: 2px solid #00498d;
	border-radius: 15px;
	color: #00498d;
}
.menuArea span {
	position: relative;
	top: -80px;
	font: 600 40px nago, "나눔고딕";
}
