$primary: #2468ff;
$accent: #00ccff;
$textMain: #374353;
$textSub: #6f7077;
$textThird: #acadb8;
$placeHolder: #c3c8ce;
$btnSub: #e7eaf3;
$outLine: #dce2ea;
$bg: #f6f7fb;
$inputBg: #f9faff;
$red: #dd3aa3;
$green: #72ad20;
$btnBlue: #caebff;
$office: #51d9ff;
$shadowDark: rgba(220, 226, 234, 0.5);
$shadowBlue: rgba(36, 104, 255, 0.4);
$font: "Noto Sans KR";
$font2: "PTAnboR";
$font3: "GmarketSansMedium";
$filterBlue: invert(25%) sepia(91%) saturate(4877%) hue-rotate(210deg) brightness(92%) contrast(127%);
