@use '../abstract/vars' as *;
@use '../abstract/mixin' as *;

//루트요소 기본
html,
body {
    width: 100%;
    height: auto;
    font-size: 10px;
    background-color: white;
}

article.mainContainer {
    padding-top: 90px;

    @media (width < 768px) {
        padding-top: 125px;
    }
}

// 버튼 기본
button {
    height: 35px;
    font-weight: 500;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: $primary;
    @include shadowBlue;

    &:hover {
        cursor: pointer;
        background-color: $accent;
    }

    &.blue {
        color: black;
        background-color: $btnBlue;

        &:hover {
            color: white;
            background-color: $accent;
        }
    }

    &.cancel {
        @include shadowDark;
        color: $textSub;
        background-color: $btnSub;

        &:hover {
            color: $accent;
            background-color: $btnSub;
        }
    }

    &:disabled {
        background-color: $outLine;

        &:hover {
            background-color: $outLine;
            cursor: default;
            color: white;
        }
    }
}

// 입력란 기본
input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"] {
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid $outLine;
    color: black;
    font-weight: 500;
    background-color: $inputBg;
    @include shadowDark;

    &::placeholder {
        font-weight: 300;
        color: $placeHolder;
    }

    &:read-only {
        border: 0;
        background-color: white;
    }
}

input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
}


//텍스트AREA
textarea {
    padding: 5px;
    border: 1px solid $outLine;
    border-radius: 5px;
    color: black;
    background-color: $inputBg;
    resize: none;
    @include shadowDark;

    &::placeholder {
        font-weight: 300;
        color: $placeHolder;
    }
}

//셀렉트박스 기본
select {
    height: 35px;
    border-radius: 3px;
    border: 1px solid $outLine;
    color: $textSub;
    font-weight: 600;
    padding-left: 10px;
    background-color: white;
    background-image: url("/img/select_box_arrow.png");
    background-repeat: no-repeat;
    background-position: 97% center;
    appearance: none;
    @include shadowDark;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        background-image: url("/img/select_box_arrow_up.png");
    }
}

//테이블
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;

    th {
        height: 35px;
        background-color: $primary;
        color: white;
        font-size: 1.3rem;
        font-weight: 500;

        &:first-of-type {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &:last-of-type {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }

    td {
        height: 30px;
        text-align: center;
        border-bottom: solid 1px $outLine;
    }
}

//푸터
footer {
    margin-top: auto;
    padding: 50px;
    font-size: 12px;
    text-align: center;
    color: $textSub;

    span {
        color: $primary;
        font-weight: 600;
    }
}